<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
  	<%= f.label :roles%>
	<%= select_tag "role_ids[]", options_for_select(Role.find(:all).collect { |r| [r.name, r.id] }, @user.roles.collect { |r| r.id }), {:multiple => false, :size => 3} %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
