<% title "Sf User" %>

<p>
  <strong>Sf User:</strong>
  <%=h @sf_user.sf_user_id %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @sf_user.email %>
</p>
<p>
  <strong>First Name:</strong>
  <%=h @sf_user.first_name %>
</p>
<p>
  <strong>Sfid:</strong>
  <%=h @sf_user.sfid %>
</p>
<p>
  <strong>Last Name:</strong>
  <%=h @sf_user.last_name %>
</p>
<p>
  <strong>Username:</strong>
  <%=h @sf_user.username %>
</p>
<% if permitted_to? :create_user, :sf_users %>
  <p>
	<%= link_to "Create SLAerator Account", create_user_sf_user_path(@sf_user) %>
  </p>
<% end %>
<p>
  <% if permitted_to? :edit, :sf_users %>
    <%= link_to "Edit", edit_sf_user_path(@sf_user) %> |
  <% end %>
  <% if permitted_to? :destroy, :sf_users %>
    <%= link_to "Destroy", @sf_user, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", sf_users_path %>
</p>
