<% form_for @sla_rule do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :sf_record_type_id %><br />
    <%= collection_select(:sla_rule, :sf_record_type_id, SfRecordType.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :sf_case_priority_id %><br />
    <%= collection_select(:sla_rule, :sf_case_priority_id, SfCasePriority.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :sf_case_status_id %><br />
    <%= collection_select(:sla_rule, :sf_case_status_id, SfCaseStatus.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :first_contact %><br />
    <%= f.check_box :first_contact %>
  </p>
  <p>
    <%= f.label :ignore_business_hours %><br />
    <%= f.check_box :ignore_business_hours %>
  </p>
  <p>
    <%= f.label :increment_by %><br />
    <%= f.text_field :increment_by %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
