<% form_for @sla_rule do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :RecordTypeId, "Case Type" %><br />
    <%= collection_select(:sla_rule, :sf_record_type, SfRecordType.find(:all, :conditions => {:active => true}), :id, :record_name, {:prompt => true}) %>
  </p>
  <div id="case_statuses">
    <p>
      <%= f.label :CaseStatusId, "Case Status" %><br />
      <%= collection_select(:sla_rule, :CaseStatusId, SfStatus.find(:all), :id, :MasterLabel, {:prompt => true}) %>
    </p>
  </div>
  <p>
    <%= f.label :CasePriority, "Case Priority" %><br />
    <%= f.text_field :CasePriority %>
  </p>
  <p>
    <%= f.label :TimeInterval, "Time Limit" %><br />
    <%= f.text_field :TimeInterval %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

