<% title "Sla Rule" %>

<p>
  <strong>Sf Record Type:</strong>
  <%=h @sla_rule.sf_record_type_name %>
</p>
<p>
  <strong>Sf Case Priority:</strong>
  <%=h @sla_rule.sf_case_priority_name %>
</p>
<p>
  <strong>Sf Case Status:</strong>
  <%=h @sla_rule.sf_case_status_name %>
</p>
<p>
  <strong>First Contact:</strong>
  <%=h @sla_rule.first_contact %>
</p>
<p>
  <strong>Increment By:</strong>
  <%=h @sla_rule.increment_by.minutes.to_utc_offset_s %>
</p>

<p>
  <%= link_to "Edit", edit_sla_rule_path(@sla_rule) %> |
  <%= link_to "Destroy", @sla_rule, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sla_rules_path %>
</p>
