<% form_for @business_hour do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :weekday %><br />
    <%= f.select(:weekday, [["Sunday", 0], ["Monday", 1], ["Tuesday", 2], ["Wednesday", 3], ["Thursday", 4], ["Friday", 5], ["Saturday", 6]]) %>
  </p>
  <p>
    <%= f.label :workday %><br />
    <%= f.check_box :workday %>
  </p>
  <p>
    <%= f.label :start_day_hour %><br />
    <%= f.text_field :start_day_hour %>
  </p>
  <p>
    <%= f.label :start_day_minute %><br />
    <%= f.text_field :start_day_minute %>
  </p>
  <p>
    <%= f.label :end_day_hour %><br />
    <%= f.text_field :end_day_hour %>
  </p>
  <p>
    <%= f.label :end_day_minute %><br />
    <%= f.text_field :end_day_minute %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
