<% form_for @sf_record_type do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %> 
  </p>
  <p>
    <%= f.label :sf_statuses, 'Status(es)' %><br />
    <%= select_tag "sf_status_ids[]", options_for_select(SfStatus.find(:all).collect { |s| [s.MasterLabel, s.id] }, @sf_record_type.sf_statuses.collect { |s| s.id }), {:multiple => true, :size => 6} %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
