<% form_for @sf_record_type do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :sla, "These record types should be analyzed for SLA (rules must be defined):" %><br />
    <%= f.check_box :sla %>
  </p>
  <p>
    <%= f.label :active, "Activate this record type:" %><br />
    <%= f.check_box :active %> 
  </p>
  <p>
    <%= f.label :sf_case_statuses, 'Case Status(es):' %><br />
    <%= select_tag "sf_case_status_ids[]", options_for_select(SfCaseStatus.find(:all).collect { |u| [u.name, u.id] }, @sf_record_type.sf_case_statuses.collect { |u| u.id }), {:multiple => true, :size => 12} %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
