<% title "Cases Found" %>

<table>
  <tr>
    <th>Case Number</th>
    <th>Owner</th>
    <th>Status</th>
    <th>Opened</th>
    <th>Closed</th>
    <th>Subject</th>
    <th>Analyze</th>
  </tr>
  <% for mycase in @cases %>
      <tr>
        <td><%=h mycase.case_number %></td>
        <td><%=h mycase.owner_name %></td>
        <td><%=h mycase.status %></td>
        <td><%=h mycase.created_date.to_date %></td>
        <td><%=h mycase.closed_date.to_date %></td>
        <td><%=h mycase.subject %></td>
        <td>
          <% if mycase.analyzed? %>
            <%= h mycase.metsla %>
          <% else %>
            <%="<div id='#{mycase.id}'>"%>
              <% form_remote_tag :url => {:controller => '/sf_cases', :action => 'analyze', :id => mycase.id}, :html => {:action => {:controller => '/sf_cases', :action => 'analyze'}} do %>
                <%= submit_tag 'Analyze' %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <% form_remote_tag :url => {:controller => '/sf_cases', :action => 'analyze_all', :id => @all_case_ids}, :html => {:action => {:controller => '/sf_cases', :action => 'analyze_all'}} do %>
        <%= submit_tag 'Analyze All' %>
      <% end %>
    </td>
  </tr>
</table>
